body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    width: 100%;
    /*height: 100vh;*/
    height: 130vh;
    
    background: url("../images/img1.jpg")
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/*Header*/
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

/*Nav*/
.nav {
    font-size: 14px;
    text-transform: uppercase;
    
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    display: none;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after {
    display: block;
}

/*text*/
/*.text3{
    color: rgb(247, 240, 240);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 110px;
    font-size: 20px;
}*/

/*tabl*/
table.tabl th,
table.tabl td{
    font-size: 20px;
    border: 4px solid rgb(252, 249, 245);
}
.tabl{
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 50px;
    width: 103%;
   
}
img{
    padding-left: 25px;
    height: 300px;
    width: 600px;
    margin-top: 40px;
}
